<nav class="blue darken-1">
  <div class="nav-wrapper lighten-2 container">
    <a href="#" class="brand-logo">Blog</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href={{link.home}}>Home</a></li>
      <li *ngIf="sessionStorage.user != 'null' "><a href={{link.favourite}}>Favourites</a></li>
      <li *ngIf="sessionStorage.user == 'null' "><a href={{link.login}}>Login</a></li>
      <li *ngIf="sessionStorage.user != 'null' "><a href={{link.myblog}}>My Blogs</a></li>
      <li *ngIf="sessionStorage.user != 'null' "><a (click)="logoutUser()">Logout</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

